---
import ReactIcon from "../components/icons/React.astro";
import TailwindIcon from "../components/icons/Tailwind.astro";
import NodeJsIcon from "../components/icons/NodeJs.astro";
import JavascriptIcon from "../components/icons/Javascript.astro";
import HtmlIcon from "../components/icons/HTML.astro";
import CssIcon from "../components/icons/Css.astro";
import MongoDBIcon from "../components/icons/MongoDB.astro";
import GitHubIcon from "./icons/GitHub.astro";
import LinkIcon from "./icons/Link.astro";

const TAGS = {
    REACT: {
        name: "React",
        class: "bg-blue-600 text-white",
        icon: ReactIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white font-bold",
        icon: TailwindIcon,
    },
    NODE: {
        name: "Node Js",
        class: "bg-green-100 text-[#41873F] font-bold",
        icon: NodeJsIcon,
    },
    JAVASCRIPT: {
        name: "Javascript",
        class: "bg-yellow-100 text-black font-bold",
        icon: JavascriptIcon,
    },
    HTML: {
        name: "HTML 5",
        class: "bg-orange-100 text-black font-bold",
        icon: HtmlIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-blue-100 text-black font-bold",
        icon: CssIcon,
    },
    MONGODB: {
        name: "MongoDB",
        class: "bg-green-200 text-[#41873F] font-bold mr-13",
        icon: MongoDBIcon,
    },
    GITHUB: {
        name: "GitHub",
        class: "bg-black/60 font-bold",
        icon: GitHubIcon,
    },
    LINK: {
        name: "Demo",
        class: "bg-blue-700",
        icon: LinkIcon,
    }
};

const PROJECTS = [
    {
        title: "Slack Version",
        description:
            "Basado en Slack con diseño propio que implica crear una plataforma de comunicación similar a Slack, pero con un diseño personalizado. El sistema incluiría canales, mensajería directa, area de trabajo, invitacion de usuarios , verificaciones de emails y posiblemente integraciones con otras herramientas, todo adaptado a un estilo visual único y específico a mi manera espero las criticas para poder mejorar o perfeccionar lo trabajado.",
        link: "https://proyecto-final-front-rouge.vercel.app",
        github: "https://github.com/Aguss-Amp2/Proyecto-Final-Front",
        image: "/projects/project1.png",
        tags: [
            TAGS.REACT,
            TAGS.NODE,
            TAGS.JAVASCRIPT,
            TAGS.HTML,
            TAGS.CSS,
            TAGS.MONGODB,
            TAGS.GITHUB,
            TAGS.LINK
        ],
    },
];
---

{
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
        <article>
            <h3 class="text-2xl font-semibold text-blue-400 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>

            <ul class="flex flex-wrap gap-x-2 flex-row">
                {tags.map((tag) => (
                    <li class="flex">
                        {(tag.name === "GitHub" || tag.name === "Link") ? (
                            <a
                                href={tag.name === "GitHub" ? github : link}
                                target="_blank"
                                rel="noopener noreferrer"
                                class={`flex gap-x-2 text-xs rounded-full items-center ${tag.class} my-2 py-2 px-2 hover:scale-105 transition-transform`}
                            >
                                <tag.icon class="size-6" />
                                {tag.name}
                            </a>
                        ) : (
                            <span
                                class={`flex gap-x-2 text-xs rounded-full items-center ${tag.class} my-2 py-2 px-2`}
                            >
                                <tag.icon class="size-6" />
                                {tag.name}
                            </span>
                        )}
                    </li>
                ))}
            </ul>
            <img
                class="rounded shadow-2xl shadow-white/10 w-100 h-60"
                src={image}
                alt={`Captura del Proyecto ${image}`}
            />
        </article>
    ))
}
